.u-section-1 .u-sheet-1 {
  min-height: 565px;
}

.u-section-1 .u-gallery-1 {
  height: 475px;
  grid-gap: 17px 17px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 14px 14px;
}

.u-section-1 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 79px;
}

.u-section-1 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 79px;
}

.u-section-1 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 79px;
}

.u-section-1 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 79px;
}

.u-section-1 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 79px;
}

.u-section-1 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 79px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-gallery-1 {
    height: 392px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-gallery-1 {
    height: 689px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2135px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2098px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1412px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1352px;
  }
}